textarea {
    min-height: 400px;
}

.email-inbox {
    transition: box-shadow .3s;
    
    background: #fff;
}

.email-inbox:hover {
    border: 3px solid #ccc;
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
  }

.navbar {
    border-bottom: 1px solid lightgray;
}

